# Database
DATABASE_URL=postgresql://postgres:A.uidcB6ncWcjyF@db.unetohqmiipmwxiunloc.supabase.co:5432/postgres

# Telegram
TELEGRAM_BOT_TOKEN=8693207115:AAFS0pA6EP8whlQzByP1tdySGIcEZwpMTzo
TELEGRAM_TARGET_CHAT_ID=-1004361743372
